{% extends 'base.html' %}

{% block user_custom_stylesheet %}
    {# TODO: book 의 css를 불러온 후, deep-thought의 css를 덮어썼다. #}
    <link rel="stylesheet" href="{{ get_url(path='book.css') | safe }}">
    <link rel="stylesheet" href="{{ get_url(path='deep-thought.css') | safe }}">
    {# TODO: 본문형식을 맞춰본다 #}
    <link rel="stylesheet" href="{{ get_url(path='newsprint.css') | safe }}">
{% endblock %}

{% block title %}
    {# TODO: 제목이 자동으로 나오면 좋겠다  #}
    {{ config.title }} | Rust
{% endblock title %}

{% block header %}
{% endblock %}

{% block content %}
    {# TODO: content block이 중복되서 book의 content 를 book_content 라는 블록으로 이름바꿈 #}
    <section>
        <div class="bookmenu is-2">
            {% block before_menu %}
            {% endblock before_menu %}
            <aside role="navigation">
                <ul>
                    {% block menu %}
                        {% set index = get_section(path="rust/_index.md") %}
                        {# 최상단 index.md 파일을 목록에 추가 #}
                        <li {% if current_path == index.path %}class="active"{% endif %}>
                            <a href="{{ index.permalink }}">{{ index.title }}</a>
                        {% for s in index.subsections %}
                            {% set subsection = get_section(path=s) %}
                            <li {% if current_path == subsection.path %}class="active"{% endif %}>
                                {% set chapter_num = loop.index %}
                                <a href="{{ subsection.permalink }}">
                                    {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.</strong>{% endif %}
                                    {{ subsection.title }}
                                </a>
                                {% if subsection.pages %}
                                    <ul>
                                        {% for page in subsection.pages %}
                                            <li {% if current_path == page.path %}class="active"{% endif %}>
                                                <a href="{{ page.permalink }}">
                                                    {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.{{ loop.index }}.</strong>{% endif %}
                                                    {{ page.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endblock menu %}
                </ul>
            </aside>
            {% block after_menu %}
            {% endblock after_menu %}
        </div>

        <div class="page">
            <div class="page__header">
                <div class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                {% if config.build_search_index %}
                <span class="search-icon">🔎</span>
                {% endif %}
            </div>

            <div class="page__content">
                {% if config.build_search_index %}
                <div class="search-container">
                    <input id="search" type="search" placeholder="Search..">
                    <div class="search-results">
                        <div class="search-results__header"></div>
                        <ul class="search-results__items"></ul>
                    </div>
                </div>
                {% endif %}
                <div class="book-content">
                    {% block book_content %}
                    {% endblock book_content %}
                </div>
            </div>

            <div class="prev-link">
                {% block prev_link %}
                {% endblock prev_link %}
            </div>

            <div class="next-link">
                {% block next_link %}
                {% endblock next_link %}
            </div>
        </div>

        {% block js_body %}
            {% if config.build_search_index %}
                <script type="text/javascript" src="{{ get_url(path='elasticlunr.min.js') | safe }}"></script>
                <script type="text/javascript" src="{{ get_url(path='search_index.en.js') | safe }}"></script>
            {% endif %}
            <script type="text/javascript" src="{{ get_url(path='book.js') | safe }}"></script>

            {# TODO: 화면 넓이가 600이 되면 menu 가 사라지고, page 가 넓어지게 바꾸는 기능 #}
            <script>
                var divMenuElement = document.querySelector("div.menu");
                var divPageElement = document.querySelector("div.page");
          
                window.addEventListener("resize", function() {
                  if (window.innerWidth <= 600) {
                    divMenuElement.classList.add("menu-hidden");
                    divPageElement.classList.add("page-without-menu");
                  } else {
                    divMenuElement.classList.remove("menu-hidden");
                    divPageElement.classList.remove("page-without-menu");
                  }
                });
              </script>

        {% endblock js_body %}
        </div>
    </section>

{% endblock content %}
