{% import "my_macro.html" as my_macro %}
{% extends "DeepThought/templates/index.html" %}

{% block user_custom_stylesheet %}
  <link rel="stylesheet" href="{{ get_url(path='newsprint.css') | safe }}">
  <link rel="stylesheet" href="{{ get_url(path='runningVan.css') | safe }}">
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">{{ section.title }}</h1>
      <p class="subtitle is-4">{{ section.description }}</p>
      {% if config.extra.author.avatar %}
        <!-- <figure class="image is-flex is-justify-content-center is-align-items-center">
          <img class="is-rounded" src="{{ config.extra.author.avatar }}" style="max-width: 192px" />
        </figure>
        <br> -->
        <div class="vanBody">
          <div class="vanBody scene">
            <i class="fas fa-shuttle-van"></i>
            <!-- clouds -->
            <i class="fa fa-cloud" style="--i:1;"></i>
            <i class="fa fa-cloud" style="--i:2;"></i>
            <i class="fa fa-cloud" style="--i:3;"></i>
            <i class="fa fa-cloud" style="--i:4;"></i>
            <i class="fa fa-cloud" style="--i:5;"></i>
            <!-- Trees -->
            <i class="fas fa-tree" style="--i:1;"></i>
            <i class="fas fa-tree" style="--i:2;"></i>
            <i class="fas fa-tree" style="--i:3;"></i>
            <i class="fas fa-tree" style="--i:4;"></i>
            <i class="fas fa-tree" style="--i:5;"></i>
            <i class="fas fa-tree" style="--i:6;"></i>
            <i class="fas fa-tree" style="--i:7;"></i>
            <!-- mountains -->
            <i class="fas fa-mountain" style="--i:1;"></i>
            <i class="fas fa-mountain" style="--i:2;"></i>
            <i class="fas fa-mountain" style="--i:3;"></i>
            <div class="sun"></div>
            <div class="road"></div>
          </div>
        </div>
      {% endif %}
     
    </div>
    <br>
    <div class="content">
      {{ section.content | safe }}
    </div>
    <div>
      {{ macros:: social_links( social_config=config.extra.social) }}
    </div>
  </div>
<!-- 
  <div>
    {% set services = get_section(path="posts/_index.md") %}
    {% for services in services.pages %}
      {{ services.title }}  {{ services.taxonomies.tags}} <br>
    {% endfor %}
  </div>

  <br>
  
  <div>
    {% set var_post = get_section(path="posts/_index.md") %}
    {{ my_macro::post_list(arg=var_post) }}
    <br>
    {{ my_macro::post_list(arg=var_post) }}
  </div> -->


</section>
{% endblock %}